.THIS .slds-visual-picker_small .slds-visual-picker__figure {
    height: 4.5rem !important;
    width: 5rem !important;
}

.THIS .slds-visual-picker_small .slds-visual-picker__body {
    width: 7rem !important;
}