.THIS .label-space .slds-form-element__label{
    min-width: 100%;
}

.THIS .helpTextContainer {
    position: relative;
}

.THIS .helpText div {
    position: absolute;
    right: 1em;
}

@media (min-width: 1024px) {
    .THIS .label-space .slds-form-element__control {
        padding: 0;
        clear: both;
    }
}